<script setup lang="ts">
import { useProductStore } from "@/stores/product";

const productStore = useProductStore();
function deleteProduct() {
  productStore.deleteProduct(productStore.deleteID);
  productStore.dialogConfirmDelete = false;
}
</script>

<template>
  <v-row>
    <v-dialog v-model="productStore.dialogConfirmDelete">
      <v-card>
        <v-card-title class="text-center">
          <span class="text-h5">ต้องการลบหรือไม่ ?</span>
        </v-card-title>
        <v-card-actions class="justify-center">
          <v-btn color="error" variant="text" @click="deleteProduct">
            ลบ
          </v-btn>
          <v-btn
            color="blue-darken-1"
            variant="text"
            @click="productStore.dialogConfirmDelete = false"
          >
            ยกเลิก
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </v-row>
</template>
